.main{
    background-color: lightgray;
}
.logo{
    height: 245px;
    width: 245px;
    border-radius: 50%;
    margin-top: 60px;
}
.email{
    width:365px;
}
.password{
    width:365px;
}
.mobile{
    width:365px;
}
.name{
    width:365px;
}
.link1{
    text-decoration: none;
    font-size: 16px;
    color:#1a73e8;
}
.btnlogin{
    height: 37px;
    width:365px;
    font-size:large;
    background-color: #a03037;
    color: white;
    border-radius: 3px;
    border: #ffffff;
    opacity: 1;
}
.or{
    font-size: large;
    padding-top: 15px;
    padding-bottom: 15px;
}
.btngoogle{
    width: 119px;
    height: 37px;
    background-color: #E4E4E4;
    border-radius: 3px;
    border: #E4E4E4;
    opacity: 1;
}
.btnfb{
    width: 126px;
    height: 37px;
    color: white;
    background-color: #4266B2;
    border-radius: 3px;
    border: #ffffff;
    opacity: 1;
}
.gap{
    padding-top: 20px;
    padding-bottom: 20px;
}
.btnsignup{
    height: 37px;
    width:365px;
    font-size:large;
    background-color: #a03037;
    color: white;
    border-radius: 3px;
    border: #ffffff;
    opacity: 1;
}
.btn{
    padding-bottom: 36px;
}
.design{
    border-radius: 21px;
    height: 450px;
}
.pages{
    margin-left: -15px;
    border-radius: 6px;
}
.add{
    font-size: large;
    padding-top: 40px;
}