<div class="main" fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="20px">
    <mat-card fxFlex="60">
        <div class="design" fxLayout="row" fxLayoutGap="40px">
            <img src="assets/Image 11.png" >
            <div fxLayout="column">
                <div fxLayoutGap="435px" fxLayout="row">
                    <p class="title">Don't Make Me Think</p>
                    <p class="order">Order Placed on April 01, 2022</p>
                </div>
                <p class="author">By Steve King</p>
                <div fxLayout="row" fxLayoutGap="10px">
                    <p>Rs. 1500</p>
                    <p class="price">Rs. 2000</p>
                </div>
            </div>
        </div>
    </mat-card>
    <mat-card fxFlex="60">
        <div class="design" fxLayout="row" fxLayoutGap="40px">
            <img src="assets/Image 36.png" >
            <div fxLayout="column">
                <div fxLayoutGap="445px" fxLayout="row">
                    <p class="title">React Material-UI</p>
                    <p class="order">Order Placed on March 22, 2022</p>
                </div>
                <p class="author">By Cookbook</p>
                <div fxLayout="row" fxLayoutGap="10px">
                    <p>Rs. 780</p>
                    <p class="price">Rs. 1000</p>
                </div>
            </div>
        </div>
    </mat-card>
</div>