<div >
    <mat-toolbar class="toolbar">
        <button class="icon" mat-icon-button><img src="assets/Book.png"></button>
        <p class="img">BookStore</p>
        <input class="search" placeholder="Search" type="text">
        <div fxLayout="column" class="profile">
            <button class="imageicon" mat-icon-button [matMenuTriggerFor]="menu"><img src="assets/person_white_24dp.svg"></button>
            <p class="heading">Profile</p>
            <mat-menu yPosition="below" #menu="matMenu">
                <h3 class="align">Hi User</h3>
                <div class="align" fxLayout="row">
                    <img src="assets/person_black_18dp.svg">
                    <button mat-menu-item>Profile</button>
                </div>
                <div class="align" fxLayout="row">
                    <img src="assets/markunread_mailbox_black_18dp.svg">
                    <button mat-menu-item routerLink="myorders">My Orders</button>
                </div>
                <div class="align" fxLayout="row">
                    <img src="assets/favorite_border_black_18dp.svg">
                    <button mat-menu-item routerLink="mywishlist">Wishlist</button>
                </div>
                <div fxLayout="row">
                    <button class="logout" routerLink="/login">Logout</button>
                </div>
            </mat-menu>
        </div>
        <div fxLayout="column" class="cart">
            <button class="imageicon"><img src="assets/shopping_cart_white_24dp.svg"></button>
            <p class="heading">Cart</p>
        </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
</div>