.body{
    height: 100vh;
    width: 100vw;
}
.header{
    text-align: center;
}
.reset{
    height: 37px;
    width:365px;
    font-size:large;
    background-color: #a03037;
    color: white;
    border-radius: 3px;
    border: #ffffff;
    opacity: 1;
}
.des{
    text-align: center;
    font-size: 15px;
    color: #878787;
    padding-bottom: 14px;
}
.email{
    color:#0A0102;
}
.design{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
}
.signup{
    color: grey;
    align-items: center;
    opacity: 1;
}
.createacc{
    padding-top: 20px;
    background: #F9F9F8 0% 0% no-repeat padding-box;
    border: 1px solid #E4E4E4;
    border-radius: 0px 0px 6px 6px; 
    opacity: 1;
    margin-left: -50px;
    margin-right: -50px;
}