<div class="body" fxLayoutAlign="center center">
    <div fxLayout="column">
        <h1 class="header">Forgot Your Password?</h1>
        <mat-card class="design" fxFlex="10">
            <form [formGroup]="forgotpasswordForm">
                <div class="des">
                    <span>Enter your email address and we'll send you</span><br />
                <span>a link to reset your password.</span>
                </div>             
                <div fxLayout="column" >
                    <mat-label class="email">Email Id</mat-label>
                    <mat-form-field class="email" appearance="outline">
                        <input formControlName="emailId" type="text" matInput>
                        <mat-error>Enter Email</mat-error>
                    </mat-form-field>
                </div>
                <div >
                    <button mat-flat-button (click)="forgotpassword()" class="reset">Reset Password</button>
                </div>    
                <div class="createacc">
                   <h2 class="signup" fxLayoutAlign="center center">Create Account</h2> 
                </div>      
            </form> 
        </mat-card>
    </div>
</div>